---
layout: default
---

<div class="home">

    <div id="main" class="call-out"
         style="background-image: url('{{ site.header_feature_image | relative_url }}')">
        <h1> {{ site.header_text }} </h1>
    </div>


    <div class="tag-list" style="margin-top: 10%;">
        <ul>
            <li><a class="button" href="https://github.com/USC-CSCI527-Spring2021/Text-Room-Adventure" target="_blank">
              <p><i class="fas fa-tag fa-fw fa-sm"></i> Github </p>
            </a></li>

            <li><a class="button" href="{{ site.url }}/src/midterm_edd.pdf"  target="_blank">
                <p><i class="fas fa-tag fa-fw fa-sm"></i> Paper </p>
              </a></li>

              <li><a class="button" href="{{ site.url }}/src/midterm_edd.pdf" target="_blank">
                <p><i class="fas fa-tag fa-fw fa-sm"></i> EDD </p>
              </a></li>
       
        </ul>
      </div>

</div>
